header{
  background:#fff;
  color:#222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  min-height:80px;
  border-bottom:20px #ccc solid;
  
  @media only screen and (max-width: 800px){
     height: auto;
     min-height: 80px;
     padding: 0px;
     display: block;
  }
  a {
    color: #222;
    opacity: 0.55;
    transition: all 0.6s;
    font-weight: normal;
  }
  a:hover {
    opacity: 1;
  }
  .logo{
    padding-top:-10px;
    width: 30%;
    a{
      font-size: 1.9em;
    }
    @media only screen and (max-width: 800px){
      padding-top:30px;
      padding-left:20px;
    }
  }

  
  nav{
    .fa-bars{
      display: none;    
     
      @media only screen and (max-width: 800px){
        display: inline-block;
        position: absolute;
        top:25px;
        right:15px;
        cursor: pointer;
        color:#222;
        z-index:222;
        font-size: 2rem;
      }
    }
  
    //  Responsive menu
    ul.collapsed{
      display:flex;
      justify-content: space-between;
      color:#222;
      text-decoration: none;
      
      @media only screen and (max-width: 800px){
        padding-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow: hidden;
        max-height: 0;
        -moz-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

        &.is-expanded{
          overflow: hidden;
          max-height: 500px; /* approximate max height */
          -moz-transition-duration: 0.3s;
          -webkit-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -moz-transition-timing-function: ease-in;
          -webkit-transition-timing-function: ease-in;
          -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
        }
      }

      a{
        justify-content: space-between;
        li{
          padding-left: 20px;
        } 
        @media only screen and (max-width: 800px){
           padding:0px;
           display:block;
           width:100%;
           padding:20px 0;
           cursor:pointer;
           &:hover{
             background: #ccc;
           }
           li{
             padding-left: 20px;
           }
        }
      } 
    }
  }
}